[submodule "deps/vellvm"]
	path = deps/vellvm
	url = https://github.com/vellvm/vellvm.git

[submodule "deps/InteractionTrees"]
	path = deps/InteractionTrees
	url = https://github.com/DeepSpec/InteractionTrees.git
    
